<h2 class="text-center display-6 py-4">Book a Studio from list!</h2>

<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="Search studio Location">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Studio Name</th>
        <th>Studio Type</th>
        <th>Location</th>
        <th>Amenities</th>
        <th>Price Per Hour</th>
        <th>Rating</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let studio of dataList | filter: searchText">
          <td>{{studio.Name}}</td>
          <td>{{studio.Type}}</td>
          <td>{{studio.Location.City}}, {{studio.Location.Area}}, {{studio.Location.Address}}</td>
          <td>{{studio.Amenities}}</td>
          <td>{{studio.PricePerHour}}</td>
          <td>{{studio.Rating}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="bookNow(bookNowPopUp)">Book Now</button>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #bookNowPopUp let-modal>
  <div class="modal-header d-flex justify-content-between">
    <h4 class="modal-title" id="modal-basic-title">Add New Booking</h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-booking-form></app-booking-form>
  </div>
</ng-template>